.workoutList {
  padding: 10px;
}

.start-empty-workout-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
