.graphs-container {
  padding: 20px;
  background-color: #3a3c3f;
}

.page-title {
  text-align: center;
  margin-bottom: 30px;
}

.chart-container {
  margin-bottom: 40px;
  background-color: #3a3c3f;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.chart-title {
  margin-bottom: 20px;
}

.chart-placeholder {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a3c3f;
  border-radius: 4px;
}
