.btn {
  border-color: #e1b941;
  color: #ffffff;
}

.btn-outline-light {
  background-color: transparent;
  border-color: #ffffff;
  margin: 20px;
}

.btn-success,
.btn-primary {
  margin: 20px;
  background-image: linear-gradient(to right, #e1b941, #dfad18);
  border: none;
}
.btn-danger {
  margin: 20px;

  border: none;
}

.fa-icon {
  color: #ffffff;
}

.modal-content {
  max-height: 60vh;
  overflow-y: auto;
  background-color: #1e1e1e !important;
  color: #ffffff;
}
.modal-header {
  background-color: #1e1e1e !important;
}
.modal-body {
  position: relative;
  max-height: calc(60vh - 100px);
  overflow: hidden;
  background-color: #1e1e1e !important;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}
.modal-body-inner {
  max-height: 100%;
  overflow-y: auto;
}

.modal-body-group::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: linear-gradient(transparent, #1e1e1e);
  pointer-events: none;
}
.modal-header .modal-title {
  color: #e1b941;
}

.btn-close {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.workout-title {
  color: #ffffff;
  margin: 10px;
}
.workout-title-container {
  display: flex;
  align-items: center;
}
.dropdown-menu {
  background-color: #2c2c2c;
  display: block;
  top: 18%;
  left: 20%;
  --bs-dropdown-link-color: white;
  color: white;
  padding: 10px;
}

.dropdown-menu div:hover {
  background-color: #e1b941;
}

.form-control {
  background-color: #f2f2f2;
  border: 1px solid #e1b941;
  color: #121212;
}

.list-group-item {
  background-color: #1a1a1a;
  border: none;
  color: #ffffff;
}

.list-group-item:nth-child(odd) {
  background-color: #212121;
}
.workoutNote {
  margin: 10px;

  border-bottom: 1px solid #ffffff;
}

.selectExerciseModal {
  background-color: #1e1e1e;
  display: flex;
}
.selectExerciseModal > * {
  flex: 1;
}
.menu-icon {
  font-size: 30px;
}

.dropdown-menu-group {
  left: 33%;
}
.workout-container {
  padding-bottom: 6vh;
}
