<div class="workout-list">
  <div class="header-with-search">
    <h2 class="historyHeader">History</h2>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterWorkouts()"
      placeholder="Search workouts"
      class="search-box"
    />
  </div>
  <div
    *ngFor="let workout of filterWorkouts(); let i = index"
    class="workout-history"
    #workoutItem
    (click)="onWorkoutClick(workoutItem, i)"
  >
    <div class="nameDate">
      <h2>{{ workout.name }}</h2>
      <p>{{ workout.date | date : "dd/MM/yyyy" }}</p>
    </div>
    <div class="exerciseWeight">
      <p>Exercise</p>
      <p>Best set</p>
    </div>
    <div class="exercises">
      <div *ngFor="let exercise of workout.exercises" class="exercise">
        <div class="setDiv">
          <div class="amountExercise">
            <p>{{ exercise.sets.length }}x</p>
            <p>&nbsp;{{ exercise.name }}</p>
          </div>
          <p>{{ findBestSet(exercise.sets) }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="selectedWorkoutIndex == i" class="workout-actions">
      <button
        (click)="startWorkoutFromHistory(workout.id); $event.stopPropagation()"
        class="start-workout-btn"
      >
        Perform Again
      </button>
      <button
        (click)="editWorkout(workout.id); $event.stopPropagation()"
        class="edit-workout-btn"
      >
        Edit Workout
      </button>
      <button
        (click)="createTemplate(workout); $event.stopPropagation()"
        class="create-template-btn"
      >
        Create Template
      </button>
      <button
        (click)="deleteWorkout(workout.id); $event.stopPropagation()"
        class="delete-workout-btn"
      >
        Delete
      </button>
    </div>
  </div>
</div>
