.workout-list {
  padding: 10px;
  padding-bottom: 6vh;
}
.historyHeader {
  color: #ffffff;
}

.workout-history {
  border: 2px solid gray;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  max-height: 40vh;
  overflow-y: auto;
}
.shortTime {
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
}
h2,
h3 {
  color: #eb4c1c;
}

.exercise {
  border-radius: 5px;
}

.setDiv {
  display: flex;
  justify-content: space-between;
}
.amountExercise {
  display: flex;
  justify-content: space-between;
}
.exerciseWeight {
  display: flex;
  justify-content: space-between;
  height: 25px;
  align-items: baseline;
  border-bottom: 1px solid #ffffff;
}
.nameDate {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0;
  padding-bottom: 0;
}
.workout-actions {
  display: flex;
  justify-content: space-between;
}

.start-workout-btn,
.edit-workout-btn,
.create-template-btn,
.delete-workout-btn {
  width: 30vw;
  margin: 5px;
  background-color: #e1b941;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.start-workout-btn,
.create-template-btn {
  border: 2px solid #202020;
}
.edit-workout-btn {
  background-color: #4d4d4d !important;
  border: 2px solid #e1b941;
}
.delete-workout-btn {
  background-color: #eb4c1c !important;
}
.header-with-search {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.search-box {
  background-color: #f2f2f2;
  border: 1px solid #e1b941;
  color: #121212;
  display: block;
  width: 40vw;
  margin-bottom: 0.5rem;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.modal-name-change-body {
  padding: 10px;
  background-color: #393e46;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-name-change-footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #393e46;
  border-top: 1px solid #e1b941;
}

.modal-name-change-footer .btn {
  margin-left: 10px;
  background-color: #e1b941;
  color: white;
  border-color: #e1b941;
}

.btn-primary {
  background-color: blue !important;
  color: white;
  border-color: #e1b941;
}

.btn-secondary {
  background-color: grey !important;
  color: white;
  border-color: #e1b941;
}

.form-control {
  margin-top: 10px;
  color: black;
}
