<div class="exercise-container">
  <div class="exercise-header">
    <h2>{{ exercise.name }}</h2>
    <div class="dropdown">
      <button
        id="dropdownMenuButton"
        (click)="toggleDropdown()"
        [attr.aria-expanded]="isDropdownOpen ? 'true' : 'false'"
      >
        <fa-icon [icon]="faEllipsisV" aria-hidden="true"></fa-icon>
      </button>
      <div
        class="dropdown-menu dropdownMenuButton"
        [class.show]="isDropdownOpen"
        aria-labelledby="dropdownMenuButton"
      >
        <button class="dropdown-item" (click)="removeExercise()">
          Remove Exercise
        </button>
      </div>
    </div>
  </div>
  <div class="sets-header">
    <span>SET</span>
    <span>KG</span>
    <span>REPS</span>
    <span>RPE</span>
    <span></span>
    <!-- Maybe for actions or empty header -->
  </div>
  <div *ngFor="let set of exercise.sets; let setIndex = index">
    <div
      appSwipe
      (swiping)="handleSwipe($event, setIndex)"
      (swipeEnd)="resetSwipeStyle(setIndex)"
      [ngStyle]="swipeStyles[setIndex]"
    >
      <app-set
        [set]="set"
        [setNumber]="setIndex + 1"
        (rpeSliderActive)="handleRpeSliderActive($event)"
      >
      </app-set>
    </div>
  </div>

  <div class="button-container">
    <button class="addSetButton" (click)="addSet()">Add Set</button>
  </div>
</div>
