<div class="exercise-container">
  <h2>{{ exercise.name }}</h2>
  <div class="sets-header">
    <span>SET</span>
    <span>KG</span>
    <span>REPS</span>
    <span>RPE</span>
    <span></span>
    <!-- Maybe for actions or empty header -->
  </div>
  <div *ngFor="let set of exercise.sets; let setIndex = index">
    <div
      appSwipe
      (swiping)="handleSwipe($event, setIndex)"
      (swipeLeft)="removeSet(setIndex)"
      (swipeEnd)="resetSwipeStyle(setIndex)"
      [ngStyle]="swipeStyles[setIndex]"
    >
      <app-set [set]="set" [setNumber]="setIndex + 1"></app-set>
    </div>
  </div>

  <div class="button-container">
    <button class="addSetButton" (click)="addSet()">Add Set</button>
  </div>
</div>
