body {
  font-family: "Arial", sans-serif;

  background: linear-gradient(to top, #3a3c3f, #232526);
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  background-color: #1e88e5;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
}
