<div class="set-container" [class.glowing]="set.checked">
  <span class="setNumber">{{ setNumber }}</span>
  <input type="number" [(ngModel)]="set.weight" />
  <input type="number" [(ngModel)]="set.reps" />

  <p-slider
    (touchstart)="showSliderValue($event)"
    (touchend)="hideSliderValue()"
    [(ngModel)]="set.rpe"
    [min]="0"
    [max]="10"
    [step]="1"
  ></p-slider>
  <span *ngIf="showValue" id="slider-tooltip" class="slider-value">{{
    set.rpe
  }}</span>

  <div
    class="custom-checkbox"
    [class.checked]="set.checked"
    (click)="toggleCheckbox(set)"
  ></div>
</div>
