.set-container {
  padding: 10px;
  background-color: #222831;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.set-container span {
  margin-right: 5px;
}

.set-container input {
  background-color: #393e46;
  border: 1px solid #393e46;
  border-radius: 4px;
  color: white;
  padding: 5px;
  margin-right: 5px;
  width: 60px;
  text-align: center;
}

.set-container input:focus {
  outline: none;
  border-color: #00adb5;
}

.setNumber {
  color: rgb(53, 157, 192);
  padding-right: 5vw;
}

p-slider {
  width: 15vw;
}

.slider-value {
  position: fixed;

  color: rgb(15, 97, 138); /* White text */
  text-align: center;
  font-size: 70px; /* Adjust as needed */
  z-index: 100;
  transform: translateX(-50%); /* Center horizontally relative to touch point */
}

.checkBox {
  display: none; /* Hide the default checkbox */
}

.custom-checkbox {
  /* Create a custom box */
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 5px;
  position: relative;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* Style for when the custom checkbox is checked */
.custom-checkbox.checked {
  background: #037031; /* Bootstrap primary color, for example */
}

.custom-checkbox.checked::after {
  /* Add a checkmark inside the custom checkbox */
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox {
  /* Create a custom box */
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 5px;
  position: relative;
  border: 1px solid #ccc;
  cursor: pointer;
}

.set-container.glowing {
  box-shadow: 0 0 10px #31a24c; /* Adjust the color and size as needed */
}
