.set-container {
  padding: 10px;
  background-color: #282828; /* Dark background */
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.set-container span {
  margin-right: 5px;
  color: #ff6b6b; /* Light red accent for text */
}
.set-container input {
  background-color: #393e46; /* Dark grey background for input */
  border: 1px solid #ff6b6b; /* Light red border */
  border-radius: 4px;
  color: white; /* White text for contrast */
  padding: 5px;
  margin-right: 5px;
  width: 60px;
  text-align: center;
}
.set-container input:focus {
  outline: none;
  border-color: #ff6b6b; /* Light red focus border */
}
.setNumber {
  color: #ff6b6b; /* Light red color for set number */
  padding-right: 5vw;
}
p-slider {
  width: 15vw; /* Slider width */
  /* Additional styling for the slider may be required */
}
.slider-value {
  position: fixed;
  color: #ff6b6b; /* Light red text */
  text-align: center;
  font-size: 70px; /* Adjust as needed */
  z-index: 100;
  transform: translateX(-50%); /* Center horizontally relative to touch point */
}
.checkBox {
  display: none; /* Hide the default checkbox */
}
.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #393e46;
  border-radius: 5px;
  position: relative;
  border: 1px solid #ff6b6b; /* Light red border */
  cursor: pointer;
}
.custom-checkbox.checked {
  background: #ff6b6b; /* Light red background when checked */
}
.custom-checkbox.checked::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.set-container.glowing {
  box-shadow: 0 0 10px #ff6b6b; /* Glowing effect in light red */
}
:host ::ng-deep .p-slider-handle {
  border-color: #f14c4c;
}
:host ::ng-deep .p-slider-range {
  background-color: #f14c4c;
}
