.modal-warning-body {
  padding: 10px;
  background-color: #393e46;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
}

.modal-warning-footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #393e46;
  border-top: 1px solid #e1b941;
}

.modal-warning-footer .btn {
  margin-left: 10px;
  background-color: #e1b941;
  color: white;
  border-color: #e1b941;
}

.btn-danger {
  background-color: red !important;
  color: white;
  border-color: #e1b941;
}
