<div class="workout-container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <button class="btn btn-outline-light" (click)="open(timerModal)">
        <fa-icon [icon]="faHourglass3"></fa-icon>
        <span class="timer">{{ timerDisplay }}</span>
      </button>
    </div>
    <h2 *ngIf="editingWorkout" class="editTitle">Editing</h2>
    <button class="btn btn-success" (click)="finishWorkout()">FINISH</button>
  </div>

  <ng-template #timerModal let-modal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="timerModalLabel">Choose Timer</h5>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          ></button>
        </div>
        <div class="modal-body">
          <button
            class="btn btn-primary w-100 mb-2"
            (click)="setTimer(60); modal.close()"
          >
            1:00
          </button>
          <button
            class="btn btn-primary w-100 mb-2"
            (click)="setTimer(120); modal.close()"
          >
            2:00
          </button>
          <button
            class="btn btn-primary w-100 mb-2"
            (click)="setTimer(180); modal.close()"
          >
            3:00
          </button>
          <button
            class="btn btn-primary w-100 mb-2"
            (click)="setTimer(240); modal.close()"
          >
            4:00
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="workout-title-container">
    <ng-container *ngIf="!editMode; else editField">
      <h1 class="workout-title">{{ workoutData.name }}</h1>
      <div class="menu-icon" (click)="toggleDropdownMenu()">⋮</div>
    </ng-container>
    <ng-template #editField>
      <input type="text" [(ngModel)]="workoutData.name" class="form-control" />
      <button (click)="saveName()">Save</button>
      <button (click)="cancelEdit()">Cancel</button>
    </ng-template>

    <div class="dropdown-menu" *ngIf="showDropdownMenu">
      <div (click)="toggleEditMode()">Edit Name</div>
      <div (click)="toggleNoteMode()">Add/Edit Note</div>
    </div>
  </div>

  <div *ngIf="noteMode">
    <textarea [(ngModel)]="workoutData.note" class="form-control"></textarea>
    <button (click)="saveNote()">Save Note</button>
    <button (click)="cancelNote()">Cancel</button>
  </div>
  <div *ngIf="workoutData.note">
    <div>
      <p class="workoutNote">{{ workoutData.note }}</p>
    </div>
  </div>

  <div *ngFor="let exercise of workoutData.exercises">
    <app-exercise
      [exercise]="exercise"
      (removeSetEvent)="removeSetFromExercise($event)"
      (removeExerciseEvent)="removeExercise($event)"
      (addSetEvent)="addSetToExercise($event)"
    >
    </app-exercise>
  </div>
  <div class="d-flex justify-content-center flex-column">
    <button class="btn btn-primary mb-2" (click)="openExerciseModal()">
      Add Exercise
    </button>
    <button class="btn btn-danger" (click)="cancelWorkout(this.workoutData.id)">
      Cancel Workout
    </button>
  </div>
</div>
