.exercise-list {
  padding: 10px;
  padding-bottom: 8vh;
}

.exercise-item {
  font-family: Arial, sans-serif;
  border: 2px solid gray;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  max-height: 40vh;
  overflow-y: auto;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.exercise-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 3px;
}

.exercise-name {
  font-weight: bold;
  color: #eb4c1c;
}

.muscle-group {
  font-style: italic;
}

.exercise-item:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.exercise-item::-webkit-scrollbar {
  width: 6px;
}

.exercise-item::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.exercise-item::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.exerciseSearch {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.search-box {
  background-color: #f2f2f2;
  border: 1px solid #e1b941;
  color: #121212;
  display: block;
  width: 40vw;
  margin-bottom: 0.5rem;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
