<div class="main-page">
  <!-- Main content area -->
  <div *ngIf="!workoutStarted" class="titleImage">
    <img class="mainImage" src="../../assets/bee.png" />
    <header class="main-header">LiftLab</header>
  </div>
  <router-outlet></router-outlet>
  <!-- Navigation bar -->
  <nav *ngIf="!workoutStarted" class="navigation-bar">
    <button class="icon-profile" (click)="navigate('/profile')">
      <fa-icon class="icon-profile" [icon]="faUser"></fa-icon> Profile
    </button>
    <button (click)="navigate('/history')">
      <fa-icon class="icon-history" [icon]="faHistory"></fa-icon> History
    </button>
    <button (click)="navigate('/workoutmenu')">
      <fa-icon class="icon-workoutmenu" [icon]="faPlusCircle"></fa-icon> Workout
    </button>
    <button (click)="navigate('/exercisemenu')">
      <fa-icon class="icon-exercisemenu" [icon]="faDumbbell"></fa-icon>
      Exercises
    </button>
    <button (click)="navigate('/graphs')">
      <fa-icon class="icon-graphs" [icon]="faChartLine"></fa-icon> Graphs
    </button>
  </nav>
</div>
