.main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: calc(100vh - 15vw);
  padding: 2vh 0px 15vh 0px;
}

.router-outlet {
  flex-grow: 1;
  overflow: hidden;
}
.navigation-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: auto;
  min-height: 10vw;
  padding: 10px;
  width: 100%;
  background-color: #3a3c3f;
  z-index: 10;
  box-shadow: 0 0 10px #000000;
}

.navigation-bar button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  border: none;
  background: none;
  font-size: 12px;
  color: inherit;
}

.navigation-bar fa-icon {
  font-size: 1.5em;
  margin-bottom: 5px;
}
.main-header {
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
  color: #e1b941;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
.icon-profile {
  color: #00beff;
}
.icon-history {
  color: #eb4c1c;
}

.icon-workoutmenu {
  color: #e1b941;
}
.icon-exercisemenu {
  color: #eb4c1c;
}
.icon-graphs {
  color: #00beff;
}
.mainImage {
  width: 15vw;
}
.titleImage {
  padding-left: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.main-header {
  margin-left: 10px;
}
